	    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black nav-menu-button-close" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	    <a th:if="${#strings.equalsIgnoreCase(access,'ADMIN') || #strings.equalsIgnoreCase(access,'ADMIN_ASSISTANT')}" 
	    	href="/customer/view" class="w3-bar-item w3-button w3-padding">
	    	<i class="fa fa-users fa-fw"></i>  Customer Management
	    </a>
	    <a th:if="${#strings.equalsIgnoreCase(access,'ADMIN') || #strings.equalsIgnoreCase(access,'ADMIN_ASSISTANT')}" 
	    	href="/employee/view" class="w3-bar-item w3-button w3-padding">
	    	<i class="fa fa-eye fa-building-o"></i>  Employee Management
	    </a>
	    <a th:if="${#strings.equalsIgnoreCase(access,'ADMIN') || #strings.equalsIgnoreCase(access,'ADMIN_ASSISTANT') || #strings.equalsIgnoreCase(access,'COLLECTOR')}" 
	    	href="/collection/view" class="w3-bar-item w3-button w3-padding">
	    	<i class="fa fa-eye fa-usd"></i>  Money Collection
	    </a>
	    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Billing</a>
	    <a href="/settings" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br/><br/>